{% if site.two_columns_layout %}
<div class="w3-ul">
    <aside class="see-also">
        <h2>{{ site.translations.text.see_also | default: "Series Videos" }}</h2>
        <ul>
            {% for post in site.posts %}{% if page.series == post.series %}
            <li>
                <a href="{{post.url}}" class="{% if page.url == post.url %}active{% endif %}">
                    {{post.video_number}}: {{post.title}}
                </a>
            </li>
            {% endif %}{% endfor %}
        </ul>
    </aside>
</div>
{% endif %}